.root {
    -fx-background-color:
        radial-gradient(center 50% 50%, radius 95%, rgba(0,0,0,0.4), transparent), #006B38;
}

.title {
    -fx-font-size: 65px;
    -fx-text-fill: #FFD700;
    -fx-font-family: "Bitcount Grid Single";
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 8, 0.3, 0, 2);
}

.stat {
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-font-family: "Bitcount Grid Single";
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 6, 0.3, 0, 1);
}

.stat-dot {
    -fx-text-fill: #FFD700;
    -fx-font-size: 20px;
}

.black {
    -fx-font-size: 18px;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-background-radius: 13;
    -fx-border-radius: 13;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-pref-width: 150;
    -fx-pref-height: 60;
}

.spinButton {
    -fx-font-size: 26px;
    -fx-background-color: #1E7E34;
    -fx-text-fill: white;
    -fx-background-radius: 13;
    -fx-border-radius: 13;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-pref-width: 150;
    -fx-pref-height: 60;
}

.black:hover {
    -fx-text-fill: yellow;
    -fx-border-color: black;
    -fx-effect: dropshadow(gaussian, yellow, 10, 0.7, 0, 0),
                dropshadow(gaussian, yellow, 20, 0.5, 0, 0);
}

.spinButton:hover {
    -fx-text-fill: yellow;
    -fx-border-color: #1E7E34;
    -fx-effect: dropshadow(gaussian, yellow, 10, 0.7, 0, 0),
                dropshadow(gaussian, yellow, 20, 0.5, 0, 0);
}

.red {
    -fx-font-size: 18px;
    -fx-background-color: #EA0008;
    -fx-text-fill: white;
    -fx-background-radius: 13;
    -fx-border-radius: 13;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-pref-width: 150;
    -fx-pref-height: 60;
}

.red:hover {
    -fx-text-fill: yellow;
    -fx-border-color: #EA0008;
    -fx-effect: dropshadow(gaussian, yellow, 10, 0.7, 0, 0),
                dropshadow(gaussian, yellow, 20, 0.5, 0, 0);
}

.green {
    -fx-font-size: 18px;
    -fx-background-color: #00A86B;
    -fx-text-fill: white;
    -fx-background-radius: 13;
    -fx-border-radius: 13;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-pref-width: 150;
    -fx-pref-height: 60;
}
.green:hover {
    -fx-text-fill: yellow;
    -fx-border-color: #00A86B;
    -fx-effect: dropshadow(gaussian, yellow, 10, 0.7, 0, 0),
                dropshadow(gaussian, yellow, 20, 0.5, 0, 0);
}

.symbolOutput {
    -fx-background-color: black;
    -fx-border-width: 2;
    -fx-border-color: #EA0008;
    -fx-alignment: center;
    -fx-padding: 0;
    -fx-spacing: 10;

    -fx-pref-width: 330px;
    -fx-pref-height: 90px;
    -fx-max-width: 330px;
    -fx-max-height: 90px;
    -fx-effect: dropshadow(gaussian, #EA0008, 10, 0.4, 0, 0);
}

.symbolEmoji {
    -fx-font-size: 20px;
    -fx-text-fill: yellow;
}

.symbolImage {
    -fx-fit-width: 20px;
    -fx-preserve-ratio: true;
}

.buttonLayout {
    -fx-control-inner-background: black;
    -fx-background-color: black;
    -fx-border-width: 2;
    -fx-border-color: #EA0008;
    -fx-border-radius: 13;
    -fx-text-fill: #FFDD33;
    -fx-background-radius: 13;
    -fx-alignment: CENTER;
    -fx-font-family: "Digital-7 Mono";
    -fx-max-width: 600px;
    -fx-max-height: 0px;
    -fx-padding: 20 0 10 0;
    -fx-effect: dropshadow(gaussian, #EA0008, 20, 0.5, 0, 0);
}

.scoreOutput {
    -fx-control-inner-background: black;
    -fx-background-color: black;
    -fx-border-width: 2;
    -fx-border-color: #EA0008;
    -fx-font-size: 30px;
    -fx-text-fill: #FFDD33;
    -fx-alignment: CENTER;
    -fx-font-family: "Digital-7 Mono";
    -fx-max-width: 415px;
    -fx-max-height: 95px;
    -fx-padding: 0 0 0 0;
    -fx-effect: dropshadow(gaussian, #EA0008, 10, 0.4, 0, 0);
}

.scoreOutputWin {
    -fx-control-inner-background: black;
    -fx-background-color: black;
    -fx-border-width: 2;
    -fx-border-color: #EA0008;
    -fx-font-size: 30px;
    -fx-text-fill: lime;
    -fx-alignment: CENTER;
    -fx-font-family: "Digital-7 Mono";
    -fx-max-width: 415px;
    -fx-max-height: 95px;
    -fx-padding: 0 0 0 0;
    -fx-effect: dropshadow(gaussian, #EA0008, 10, 0.4, 0, 0);
}

.scoreOutputLose {
    -fx-control-inner-background: black;
    -fx-background-color: black;
    -fx-border-width: 2;
    -fx-border-color: #EA0008;
    -fx-font-size: 30px;
    -fx-text-fill: red;
    -fx-alignment: center;
    -fx-font-family: "Digital-7 Mono";
    -fx-max-width: 415px;
    -fx-max-height: 95px;
    -fx-padding: 0 0 0 0;
    -fx-effect: dropshadow(gaussian, #EA0008, 10, 0.4, 0, 0);
}

.betButton {
    -fx-font-size: 23px;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-background-radius: 13;
    -fx-border-radius: 13;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-pref-width: 75;
    -fx-pref-height: 50;
}

.betButton:hover {
    -fx-text-fill: yellow;
    -fx-border-color: #00A86B;
}

.betButtonPressed {
    -fx-text-fill: yellow;
    -fx-border-color: #1E7E34;
    -fx-background-color: #1E7E34;
    -fx-effect: dropshadow(gaussian, yellow, 10, 0.7, 0, 0),
                    dropshadow(gaussian, yellow, 20, 0.5, 0, 0);
}

.betButtonPressed:hover {
    -fx-text-fill: yellow;
    -fx-border-color: #1E7E34;
    -fx-background-color: #1E7E34;
    -fx-effect: dropshadow(gaussian, yellow, 10, 0.7, 0, 0),
                        dropshadow(gaussian, yellow, 20, 0.5, 0, 0);
}

.userBet {
    -fx-text-fill: yellow;
    -fx-font-family: "Helvetica";
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-background-color: transparent;
    -fx-alignment: TOP_LEFT;
}

.slotLines {
    -fx-font-size: 50px;
    -fx-text-fill: yellow;
}

.purple {
    -fx-background-color: #7c4dff;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 6;
    -fx-pref-width: 100;
}

.purple:hover {
    -fx-background-color: #8A65FF;
}

.payoutPopup {
    -fx-background-color: black;
    -fx-border-color: #EA0008;
    -fx-border-width: 3;
    -fx-padding: 10;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(gaussian, #EA0008, 15, 0.1, 0, 0);
}

.popupHeader {
    -fx-text-fill: lightGray;
    -fx-font-size: 20px;
}

.popupText {
    -fx-text-fill: purple;
    -fx-font-size: 15px;
}

.popupBackButton {
    -fx-text-fill: orange;
    -fx-font-size: 17px;
    -fx-background-color: black;
    -fx-border-color: orange;
    -fx-border-width: 2;
    -fx-pref-width: 135;
    -fx-pref-height: 35;
    -fx-background-radius: 13;
    -fx-border-radius: 13;
}

.popupBackButton:hover {
    -fx-border-color: black;
    -fx-effect: dropshadow(gaussian, orange, 10, 0.7, 0, 0),
                    dropshadow(gaussian, orange, 10, 0.3, 0, 0);
}

.separator *.line {
     -fx-border-color: red;
     -fx-border-width: 1px;
     -fx-effect: dropshadow(gaussian, #EA0008, 10, 0.3, 0, 0);
     -fx-opacity: 0.8;
}

.betFieldTitle {
     -fx-text-fill: lightBlue;
     -fx-font-size: 22;
}

.betField {
    -fx-text-fill: yellow;
    -fx-font-size: 15;
    -fx-background-color: black;
    -fx-border-color: orange;
}

.footer {
    -fx-background-color: rgba(0, 0, 0, 0.6);
    -fx-border-width: 1 0 0 0;
    -fx-border-color: orange;
}

.usernameTitle {
    -fx-text-fill: white;
    -fx-font-size: 15;
}

.usernameInput {
    -fx-text-fill: yellow;
    -fx-font-size: 15;
    -fx-background-color: black;
    -fx-border-color: white;
}

.usernameButton {
    -fx-background-color: #7c4dff;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
    -fx-pref-width: 65;
    -fx-pref-height: 30;
}